.DS_Store
.awcache/
.bak/
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/
test/unit/coverage
test/e2e
selenium-debug.log
_book/
demo/

# Editor directories and files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
