<div class="aplayer aplayer-withlist" :class="{ 'aplayer-withlrc': currentMusic.lrc }">
  <vPicture :url="currentMusic.pic">
    <vButton type="play" icon="play" />
  </vPicture>
  <Container>
    <Info slot="info" :title="currentMusic.title" :author="currentMusic.author" />
    <Lyric slot="lyric" :lrc="currentMusic.lrc" />
    <Controller slot="controller">
      <ProgressBar slot="progress" :loaded="loaded" :played="played" />
      <TimeBar slot="time" :currentTime="media.currentTime" :duration="media.duration" />
      <Volume slot="volume" />
      <vButton slot="mode" type="mode" icon="random" />
      <vButton slot="menu" type="menu" icon="menu" />
    </Controller>
  </Container>
  <List>
    <Item v-for="(music, index) in music"
      :index="index + 1"
      :title="music.title"
      :author="music.author"
      :active="music.title === currentMusic.title" />
  </List>
</div>
