<div class="aplayer aplayer-withlist" :class="{ 'aplayer-withlrc': currentMusic.lrc && showlrc }">
  <vPicture :url="currentMusic.pic">
    <div :class="`aplayer-button aplayer-${status}`" @click="toggle">
      <vButton :type="status" :icon="status" />
    </div>
  </vPicture>
  <Container>
    <Info slot="info" :title="currentMusic.title" :author="currentMusic.author" />
    <Lyric slot="lyric" v-if="currentMusic.lrc && showlrc" :currentTime="media.currentTime" :lrc="currentMusic.lrc" />
    <Controller slot="controller">
      <ProgressBar slot="progress" :loaded="loaded" :played="played" @change="progressChangeHandler" />
      <TimeBar slot="time" :currentTime="media.currentTime" :duration="media.duration" />
      <Volume slot="volume" :value="volume" @toggle="toggleVolume" @change="setVolume" />
      <vButton slot="mode" type="mode" :icon="playMode" @click="togglePlayMode" :title="displayPlayMode" />
      <vButton slot="menu" type="menu" icon="menu" @click="toggleCollapsed" :title="collapsed ? '展开' : '收起'" />
    </Controller>
  </Container>
  <List :music="music" :maxheight="listmaxheight" :collapsed="collapsed">
    <Item v-for="(music, index) in music"
      :index="index + 1"
      :title="music.title"
      :author="music.author"
      :active="music.id === currentMusic.id"
      @click="play(music)" />
  </List>
</div>
