<div class="container">
  <h1>APlayer</h1>
  <h2>Wow, such a beautiful html5 music player</h2>
  <p>Made by <a href="https://www.anotherhome.net/" target="_blank">DIYgod</a>. Available on <a href="https://github.com/DIYgod/APlayer" target="_blank">GitHub</a>. Licensed MIT.</p>
  <hr>
  <h3>With playlist and lyrics</h3>
  <APlayer
    ref="aplayer"
    :narrow="narrow"
    :autoplay="autoplay"
    :showlrc="showlrc"
    :mutex="mutex"
    :fold="fold"
    :speed="speed"
    :theme="theme"
    :mode="mode"
    :preload="preload"
    :listmaxheight="listmaxheight"
    :music="music"
    @play="getLyricAsync"
  />
  <button @click="aplayer.toggle()">toggle play (current: {{ aplayer ? aplayer.status : 'play' }})</button>
  <button @click="aplayer.toggleVolume()">toggle volume (current: {{ aplayer ? aplayer.volume : 1 }})</button>
  <button @click="narrow = !narrow">switch narrow (current: {{ narrow }})</button>
  <button @click="showlrc = !showlrc">switch showlrc (current: {{ showlrc }})</button>
  <button @click="fold = !fold">switch fold (current: {{ fold }})</button>
  <button @click="speed = (speed * 1000 + 0.1 * 1000) / 1000">change speed (current: {{ speed }})</button>
  <button @click="theme = mock.Random.color()">change theme (current: {{ theme }})</button>
  <button @click="aplayer.togglePlayMode()">change mode (current: {{ aplayer ? aplayer.playMode : mode }})</button>
  <button @click="listmaxheight = Number.parseInt(listmaxheight) + 33 + 'px'">change listmaxheight (current: {{ listmaxheight }})</button>
  <button @click="music.splice(0, 1)">delete music (count: {{ music.length }})</button>
  <button @click="fold = false; music.reverse()">sort music</button>
  <button @click="setMusic">setMusic (current: {{ aplayer ? aplayer.currentMusic.title : 'loading' }})</button>
  <button onclick="location.reload()">refresh page</button>
  <button onclick="window.open(location.href)">open new page</button>
</div>
