.home {
  .hero {
    img {
      width: 230px;
    }
  }
}

.guide {
  table {
    tr {
      th:first-child, td:first-child {
        min-width: 149px;
      }

      th:last-child, td:last-child {
        width: 100%;
      }
    }
  }
}
