html, body, #app, .container {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.container {
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

h1 {
  font-size: 54px;
  color: #333;
  margin: 30px 0 10px;
}

h2 {
  font-size: 22px;
  color: #555;
}

h3 {
  font-size: 24px;
  color: #555;
}

hr {
  display: block;
  width: 7rem;
  height: 1px;
  margin: 2.5rem 0;
  background-color: #eee;
  border: 0;
}

a {
  color: #08c;
  text-decoration: none;
}

p {
  font-size: 18px;
}
