@import '../../../assets/vars.scss';

.aplayer-info {
  margin-left: $aplayer-height;
  padding: 14px 7px 0 10px;
  height: $aplayer-height;
  box-sizing: border-box !important;
  .aplayer-music {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 13px 5px;
    user-select: text;
    cursor: default;
    padding-bottom: 2px;
    .aplayer-title {
      font-size: 14px;
    }
    .aplayer-author {
      font-size: 12px;
      color: #666;
    }
  }
  .aplayer-controller {
    position: relative;
    display: flex;
    .aplayer-bar-wrap {
      margin: 0 0 0 5px;
      padding: 4px 0;
      cursor: pointer !important;
      flex: 1;
      .aplayer-bar {
        position: relative;
        height: 2px;
        width: 100%;
        background: #cdcdcd;
        .aplayer-loaded {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          background: #aaa;
          height: 2px;
          transition: all 0.5s ease;
        }
        .aplayer-played {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          height: 2px;
          .aplayer-thumb {
            position: absolute;
            top: 0;
            right: 5px;
            margin-top: -4px;
            margin-right: -10px;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background: #fff;
            cursor: pointer !important;
          }
        }
      }
    }
    .aplayer-time {
      position: relative;
      right: 0;
      bottom: 3px;
      height: 17px;
      color: #999;
      font-size: 11px;
      padding-left: 7px;
      >>>.aplayer-time-inner {
        vertical-align: middle;
      }
      >>>.aplayer-icon {
        cursor: pointer;
        >>>.aplayer-fill {
          fill: #666;
          transition: all 0.2s ease;
        }
        >>>&.aplayer-icon-mode {
          margin-right: 4px;
        }
        >>>&:hover {
          >>>.aplayer-fill {
            fill: #000;
          }
        }
        >>>&.aplayer-icon-menu {
          display: none;
        }
      }
      >>>&.aplayer-time-narrow {
        >>>.aplayer-icon-mode {
          display: none;
        }
        >>>.aplayer-icon-menu {
          display: none;
        }
      }
    }
    .aplayer-volume-wrap {
      position: relative;
      display: inline-block;
      margin-left: 3px;
      cursor: pointer !important;
      &:hover .aplayer-volume-bar-wrap {
        display: block;
      }
      .aplayer-volume-bar-wrap {
        display: none;
        position: absolute;
        bottom: 15px;
        right: -3px;
        width: 25px;
        height: 40px;
        z-index: 99;
        .aplayer-volume-bar {
          position: absolute;
          bottom: 0;
          right: 10px;
          width: 5px;
          height: 35px;
          background: #aaa;
          .aplayer-volume {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 5px;
            transition: all 0.1s ease;
          }
        }
      }
    }
  }
}
